<div class="row">
    <div class="col-9">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @friends.each do |friend| %>
                    <tr>
                        <th scope="row"><%= friend.email %></th>
                        <td><%= friend.first_name %></td>
                        <td><%= friend.last_name %></td>
                        <td><%= link_to 'View Profile', user_path(friend),
                             class: 'btn btn-sm btn-success'%>
                            <%= link_to 'Unfollow', friendship_path(friend), method: :delete,
                             data: {confirm: 'Are you sure Unfollow this friend?'},
                             class: 'btn btn-sm btn-danger'%>
                        </td>
                    </tr> 
                <% end %>
            </tbody>
        </table>
    </div>
</div>
