<div class="row">
    <div class="col-9">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Name of Company</th>
                    <th scope="col">Price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @tracked_stocks.each do |stock| %>
                    <tr>
                        <th scope="row"><%= stock.ticket %></th>
                        <td><%= stock.name %></td>
                        <td><%= stock.last_price %></td>
                        <td>
                        <% if current_user.can_track_stock?(stock.ticket) %>
                            <%= link_to 'Add to portfolio', user_stocks_path(user: current_user,
                             ticket: stock.ticket),
                             class: 'btn btn-sm btn-success', method: :post %>
                        <% elsif current_user.id != @user.id %>
                            <span class="badge badge-secondary">
                                You are already tracking
                                <% if !current_user.under_stock_limit? %>
                                    10 stocks
                                <% end %>
                                <% if current_user.stock_already_tracked?(stock.ticket) %>
                                    this stock
                                <% end %>
                            </span>
                        <% end  %>
                            <% if current_user.id == @user.id %>
                            <%= link_to 'Remove stock', user_stock_path(stock) , method: :delete,
                             data: {confirm: 'Are you sure delete this stock?'},
                             class: 'btn btn-sm btn-warning'%>
                        </td>
                    </tr> 
                <% end
                end %>
            </tbody>
        </table>
    </div>
</div>
