
<div class="result-block">
    <%= render 'layouts/messages' %>
</div>


<% if @stock %>
 <div class="card card-header result-block">
     <strong>Symbol: </strong><%= @stock.ticket %> |
     <strong>Name of Company  : </strong><%= @stock.name %> |
     <strong>Price : </strong><%= @stock.last_price %>&nbsp;
     <% if current_user.can_track_stock?(@stock.ticket) %>
       <%= link_to 'Add to portfolio', user_stocks_path(user: current_user,
                                                     ticket: @stock.ticket),
        class: 'btn btn-xs btn-success', method: :post %>
     <% else %>
          <span class="badge badge-success">
              You are already tracking
              <% if !current_user.under_stock_limit? %>
                  10 stocks
              <% end %>
              <% if current_user.stock_already_tracked?(@stock.ticket) %>
                  this stock
              <% end %>

         </span>
     <% end  %>
 </div>
<% end %>
