

<h2>User Details</h2>
<hr/>
<div class="card card-header result-block">
  <table class="col-md-12">
    <tbody>
      <tr>
        <td><strong>Name: </strong><%= @user.full_name %></td>
        <td><strong>Email:</strong><%= @user.email %></td>
        <td>
          <% if current_user.not_friends_with?(@user.id) %>&nbsp;
          <%= link_to 'Follow friend?', friendships_path(friend: @user),
                   class: "btn btn-sm btn-success" , method: :post %></td>
          <% else %>&nbsp;
          <span class="badge badge-info">
            You are friends
          </span>
          <% end %>
          </tr>
     </tbody>
  </table>
</div>
<br/>

<% if !@tracked_stocks.empty? %>
  <%= render 'stocks/list' %>
<% else %>
  <p class="lead"> <%= fa_icon 'user' %>&nbsp;<%= @user.full_name %> is not tracking any stocks.</p>
<% end %>


<%= link_to 'Back Friends' , my_friends_path , class: 'btn btn-primary btn-sm' %>
