@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

/* .navbar-brand { */
/*     font-size: 3rem; */
/* } */
.search-area {
    padding-top: 50px;
}

h1 {
    margin-top: 20px;
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.result-block {
    display: inline-block;
    margin-bottom: 1rem;
}

.logout-button {
    margin-right: 5px;
}

.user_name {
    margin-right: 8px;
    margin-top: 3.5%;
}
